@font-face {
  font-family: pricedown;
  src: url("./font/pricedow.otf");
}

@font-face {
  font-family: diploma;
  src: url("./font/diploma.ttf");
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.extra {
  text-decoration: underline;
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgba(0, 0, 0, 0.8);
}

.character-profile {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: 25%;
  padding: 25px;
  background-color: white;
  border: 2px solid #000;
  text-align: center;
  user-select: none;
  height: max-content;
}